<script type="text/ng-template" id="newOrder">
  <li class='egg bounce'>
    <div class="timestamp">
      {{ created_at }}
    </div>
    <div class="quantity">
      {{ quantity }}
    </div>
    <div class="first-name">
      {{ first_name }}
    </div>
    <div class="shipping-city">
      {{ shipping_city }}
    </div>
    <div class="shipping-country">
      {{ shipping_country }}
    </div>
  </li>
</script>
