<div class="container">
  <div class="row">
    <div class="col col-xs-12 col-sm-6">
      <div class="buy">
        <h1>Buy for $4.99</h1>
        <a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#orderModal">Buy Now</a>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-6">

    </div>
  </div>
</div>
<%= render :partial => 'order_modal' %>
