<!DOCTYPE html>
<html ng-app="bevTest">
<head>
  <title>Taste Blrup!  It'll make you crazy!</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application', '//js.pusher.com/2.2/pusher.min.js' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= yield %>

</body>
</html>
